{% extends 'baseback.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
           <center> <h3>ajouter </h3></center>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


         <section class="py-12">
         <div class="container px-12 px-lg-12 mt-12">
         <div class="row gx-12 gx-lg-12 row-cols-12 row-cols-md-12 row-cols-xl-12 justify-content-center">
  

    {{ include('association/form.html.twig') }}
    
    <a class="btn btn-outline-dark mt-auto" href="{{ path('association_index') }}">back to list</a>
{% endblock %}
