{% extends 'back.html.twig' %}

{% block title %}Modifier  Rapport{% endblock %}

{% block body %}
    <h1>Modifier Le Rapport</h1>

    {{ include('rapport/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rapport_index') }}" class="btn btn-success">back to list</a>

    {{ include('rapport/delete.html.twig', {'button_label': 'delete'}) }}
{% endblock %}
