
{% extends 'baseBack.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block body %}
    <h1>Modifier Categorie</h1>
     <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
         <a  class="btn btn-outline-dark mt-auto" href="{{ path('app_categorie_new') }}">Ajouter categorie</a>

    </div><!-- End Page Title -->
    
    <section class="section dashboard">
      <div class="row">


         <section class="py-5">
         <div class="container px-4 px-lg-5 mt-5">
         <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        
    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
     
    <br>
     <div class="text-center"><a class="btn btn-outline-dark mt-auto"<a href="{{ path('app_categorie_index') }}">Les Categories</a></div>
    </div><br></div>
       {{ include('categorie/_delete_form.html.twig') }}
    </section></div></section>
    
   
{% endblock %}
