
{% extends 'baseBack.html.twig' %}

{% block title %}Nouveau Categorie{% endblock %}

{% block body %}<br><br><br>
    <center><h3>Ajouter Categorie</h3></center>

    {{ include('categorie/_form.html.twig') }}
    <br>
    <a href="{{ path('app_categorie_index') }}">Les Categories </a>
{% endblock %}
