{% extends 'back.html.twig' %}

{% block title %}Edit Communaute{% endblock %}

{% block body %}
    <h1>Edit Communaute</h1>

    {{ include('communaute_cont/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_communaute_cont_index') }}">back to list</a>

    {{ include('communaute_cont/_delete_form.html.twig') }}
{% endblock %}
