{% extends 'back.html.twig' %}

{% block title %}New Communaute{% endblock %}

{% block body %}
    <h1>Create new Communaute</h1>

    {{ include('communaute_cont/_form.html.twig') }}

    <a href="{{ path('app_communaute_cont_index') }}">back to list</a>
{% endblock %}
