<html>
<head>
    <meta charset="UTF-8">
    <title>Offer Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.6;
            background-color: #f1f1f1;
            padding: 20px;
        }
        table {
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #198754;
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
            color: white;
        }
        footer {
            margin-top: 15px;
            background-color: #198754;
            color: white;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <p>Bonjour,</p>
    <p>Nous espérons que vous allez bien. Nous vous informons qu'un troqueur souhaite troquer avec vous votre offre suivante : </p>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ offre.getTitre() }}</td>
                <td>{{ offre.getType() }}</td>
                <td>{{ offre.getDescription() }}</td>
                <td>{{ offre.getDate()|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
    <p>Cordialement,</p>
    <p>L'équipe de Trocit</p>
    <footer>
        <p>&copy; 2023 Trocit. Tous droits réservés.</p>
    </footer>
</body>
</html>